@font-face {
    font-family: HappySchool;
    src: url('/css/Happy School.ttf');
}
@font-face {
    font-family: KGCorneroftheSky;
    src: url('/css/KGCorneroftheSky.ttf');
}
/* Textbox voor "Zeer Specifieke Vragen.nl" */
h1 {
    font-family: HappySchool;
    color: #2c73ab;
}
/* Titel van FAQ */
h3 {
    padding-bottom: 30px;
}
/* link-tekstboxes. */
h5 {
    font-family: KGCorneroftheSky;
    color: #00268e;
    width: 100%; /* Align center */
}
/* terug knop */
h6 {
    font-weight: bold;
}
/* Zorg dat alle link-textboxes even hoog zijn. De tekst blijf verticaal en horizontaal gecentreerd. */
.card-action {
    height: 100px;
    align-items: center;
    text-align:center;
    display:flex;
}
/* Het midden van de afbeelding is altijd zichtbaar, met de volledige hoogte.
De afbeeldingen zijn extra breedt, zodat ze met de juiste aspect ratio mee kunnen schalen wanneer het venster breder wordt.  */
.card-image > img {
    object-fit: cover;
    min-height: 300px;
    min-width: 300px;
}
/* Maak de zijkanten naast de titels dunner, zodat er meer tekst op 1 regel past.*/
.card .card-action  {
    padding-left: 5px;
    padding-right: 5px;
}
/* Ruimte tussen de kaarten */
.card {
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 300px;
}
/* Styling voor grote schermen */
@media only screen and (min-width : 1201px) {
    .container {
        width: 1185px;
    }
    .card {
        max-width: 400px;
    }
}
footer {
    background-color: #2c73ab47;
    padding: 20px;
}